<!-- <ul class="nav nav-pills card-header-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/budget-manager">Budget Manager
    </a>
  </li>
</ul>
<router-outlet></router-outlet> -->

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLink="/home">Home
    </a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/budget-manager">Budget Manager
    </a>
  </li>
</ul>
<router-outlet></router-outlet>