<div class="mt-2 col-10">
    <form [formGroup]="form">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="activeIdChange($event)">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Debit</a>
                <ng-template ngbNavContent>
                    <div class="col-12">
                        <p *ngIf="form.get('debitAmount').errors?.max && (form.get('debitAmount').touched || form.get('debitAmount').dirty)"
                            class="text-danger error">
                            Error: You do not have enough funds
                        </p>
                    </div>
                    <div class="col-8"> <small>Debit amount</small>
                        <div [ngClass]="selectedCurrency.code | lowercase">
                            <input type="number" class="form-control" id="debitAmount" formControlName="debitAmount">
                        </div>
                        <button id="debitBtn" class="btn btn-primary mt-2" (click)="debit()" [disabled]="form.invalid">Submit</button>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Credit</a>
                <ng-template ngbNavContent>
                    <div class="col-8">
                        <small>Credit amount</small>
                        <div [ngClass]="selectedCurrency.code | lowercase">
                            <input type="number" class="form-control" id="creditAmount" formControlName="creditAmount" />
                        </div>
                        <button class="btn btn-primary mt-2" (click)="credit()" [disabled]="form.invalid">Submit</button>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </form>
</div>